/.idea/
/spring-resttemplate/.idea/
/spring-resttemplate/.gradle/
/spring-resttemplate/build/
/spring-resttemplate/gradlew
/spring-resttemplate/gradlew.bat
/spring-resttemplate/settings.gradle
/spring-resttemplate/gradle/
